body {
  margin: 0px;
}

#game_grid {
  border: 2px tomato solid;
  width: fit-content;
  min-width: 400px;
  height: auto;
  min-height: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  justify-items: center;
}


.card {
  width: 80%;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  
}


img {
  width: 100%
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}


.flip {
  transform: rotateY(180deg);
}


.front_face {
  transform: rotateY(180deg);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}